<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="icon" href="/ns.ico">
  <link rel="stylesheet" href="/theme/index.css" />
  <link rel="stylesheet" href="/static/index.css" />
  <!-- <script defer src="https://hm.baidu.com/hm.js?b24f5e1285644aaa1012a62c9fdf9866"></script> -->
  <!-- <script src="<%= BASE_URL %>static/vue@2.6.12.js"></script> -->
  <!-- <script src="<%= BASE_URL %>static/element-ui@2.15.8.js"></script> -->
  <!-- <script src="<%= BASE_URL %>static/axios@0.21.1.js"></script> -->
  <title>Northstar盈富量化平台</title>
</head>

<body>
  <h1>Northstar盈富量化平台</h1>
  <div id="app"></div>
  <script type="module" src="/src/main.js"></script>

  <!-- built files will be auto injected -->
</body>

</html>